body {
  height: 200vh;
  background-image: url(started.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}
canvas {
  height: 200vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
